{% load static %}

<html lang="en" dir="ltr">
    <head>
        <title>Weather</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    </head>
    <body>
    <video class="video" autoplay loop muted>
<!--        <source src="https://joy1.videvo.net/videvo_files/video/free/2015-08/large_watermarked/beach13_preview.mp4" type="video/mp4" />-->
        <source src="{% static 'weather1.mp4' %}" type="video/mp4" />
    </video>
     <div class="weather_nav">
         <div class="city_name"><h1>{{city}}</h1></div>
        <h1 class="col-md-3 text-center">Weather</h1>
    </div>
    <div class="weather_base">
        <div class="content_block">
        <center class="search_block">
            <form method="post" class="">
                {% csrf_token %}
                <div class="input_group">
                    <input type="text" class="form_input" name="city" placeholder="Search">
                    <div class="input_button">
                        <button class="button" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </center>
        <div class="row">
            {% if country_code and coordinate and temp and pressure and humidity %}
            <div class="weather_info">
                    <img src="{{icon}}" alt="Image">
                    <h1>{{city}}</h1>
                    <h5>Temperature: {{temp}}</h5>
                    <div class="line_btw"></div>
                    <h5>Weather: {{weather}}</h5>
                    <div class="line_btw"></div>
                    <h5>Pressure: {{pressure}}</h5>
                    <div class="line_btw"></div>
                    <h5>Humidity: {{humidity}}</h5>
                    <div class="line_btw"></div>
                    <h5>Country code: {{country_code}}</h5>
                    <div class="line_btw"></div>
                    <h5>Coordinate: {{coordinate}}</h5>

            </div>
            {% endif %}
        </div>
        </div>
        </div>
    </body>
</html>
